<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GetSuperhumans</servlet-name>
    <servlet-class>com.revature.servlet.GetSuperhumanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSuperhumans</servlet-name>
    <url-pattern>/super-human</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSuperhumanServlet</display-name>
    <servlet-name>AddSuperhumanServlet</servlet-name>
    <servlet-class>com.revature.servlet.AddSuperhumanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSuperhumanServlet</servlet-name>
    <url-pattern>/create-super-human</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSuperhumanServlet</display-name>
    <servlet-name>UpdateSuperhumanServlet</servlet-name>
    <servlet-class>com.revature.servlet.UpdateSuperhumanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSuperhumanServlet</servlet-name>
    <url-pattern>/update-super-human</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSuperhumanServlet</display-name>
    <servlet-name>DeleteSuperhumanServlet</servlet-name>
    <servlet-class>com.revature.servlet.DeleteSuperhumanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSuperhumanServlet</servlet-name>
    <url-pattern>/delete-super-human</url-pattern>
  </servlet-mapping>
</web-app>